@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<div class="container">
    <h2>Sube Stok Rapor</h2>
    <br />

    <div class="p-3 border bg-light">

        <table id="subeStokTable" class="display" style="width:100%">
            <thead>
                <tr id="headerRow">
                    <th>Id</th>
                    <th>Urun Adı</th>
                </tr>
            </thead>
        </table>
    </div>
</div>





 
<link rel="stylesheet" href="" />
@* select2 kullanımı *@



<script type="text/javascript">
  
    let table;
    let firma = null;
    var kategori = null;
    var sube = null;

    function initTable() {
        $.ajax({
            url: 'https://10.60.60.141/api/SubeStok/GetAllWithSubeAndUrunByTedarikciId',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },
            data: { 
                'tedarikciId': '@ViewBag.FirmaId',
           
                 'subeId': sube,
                 'kategoriId': kategori,
                 'firmaId': firma
            }
        }).done(function (response) {

            var subeAdiList = response.data.map(function (item) {
                return item.sube.subeAdi;
            });

            var uniqueSubeAdiList = [...new Set(subeAdiList)];

            uniqueSubeAdiList.forEach(function(subeAdi) {
                debugger;
                 table = $('#subeStokTable').DataTable();

                // <thead> içindeki <tr> elemanını seç
                var headerRow = $('#subeStokTable thead tr');

                // Yeni bir <th> elementi oluştur ve başlık metni ekle
                

                // Yeni <th> elemanını <tr> içine ekle
                headerRow.append($('<th>' + 'ss' + '</th>'));

                // DataTable'ı yeniden initialize et (Opsiyonel, gerekirse)
                table.destroy(); // Eski DataTable'ı yok et
                $('#myTable').DataTable(); // Tabloyu yeniden initialize et
            });
           
           // debugger;
            table = $('#subeStokTable').DataTable({
                "scrollX": true,
                "responsive": true,
                "data": response.data,
                "language": { "url": '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json' },

                "layout": {
                    "bottomStart": {
                        "buttons": [
                            {
                                "extend": 'pdfHtml5',
                                "exportOptions": {
                                    "columns": [0, 1, 2],
                                   
                                },
                                "className": "btn btn-success"
                            },
                            
                        ]
                    }

                },

                
                "columns": [
                    { "data": 'urun.id' },
                    { "data": 'urun.urunAdi' },
                ]
            });


        });
    }
    initTable();



    function loadSelectsDatas() {

        //firmalar load
        $.ajax({
            url: 'https://10.60.60.141/api/Filter/GetFirmaSubeKategoriAll',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },

        }).done(function (response) {
            var firmalar = $.map(response.data.firmalar, function (data) {
                return {
                    id: data.id,
                    text: data.firmaAdi
                };
            });
            var select = $("#firma").select2({
                placeholder: "Firmalar",
                data: firmalar,
                width: 350,
                allowClear: true
            });

            var subeler = $.map(response.data.subeler, function (data) {
                return {
                    id: data.id,
                    text: data.subeAdi
                };
            });




            subeler.forEach(function(sube) {
                var newHeader = document.createElement("th");
                newHeader.innerText = sube.text;
                // <th> elemanını <tr> içine ekle
                headerRow.appendChild(newHeader);
            });

            
            

            var select = $("#sube").select2({
                placeholder: "Subeler",
                data: subeler,
                width: 350,
                allowClear: true

            });

            var kategoriler = $.map(response.data.kategoriler, function (data) {
                return {
                    id: data.id,
                    text: data.kategoriAdi
                };
            });
            var select = $("#kategori").select2({
                placeholder: "Kategoriler",
                data: kategoriler,
                width: 350,
                allowClear: true

            });


        });


    }

    
</script>