@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<h2>Satislar</h2>
<hr />

<div class="" style="display: flex;justify-content: flex-end;">
    <button class="btn btn-success" onclick="Save()"><i class="bi bi-plus"></i> Yeni Satis</button>

</div>
<br />


<div class="container">
<table id="myTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Şube Adi</th>
            <th>Firma Adi</th>
            <th>Telefon</th>
           
            
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Firma Adi</th>
            <th>Şube Adi</th>
            <th></th>
        </tr>
    </tfoot>
</table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<script type="text/javascript">
    $(document).ready(function () {
        new DataTable('#myTable', {
            "language": {
                url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json',
            },
           
            "ajax": '/fakeData/subeler.json',

            "columns": [
                { "data": 'firma_adi' },
                { "data": 'sube_adi' },
                { "data": 'sube_adi' },
                
                {
                    "data": "id", "render": function (data) {
                        return `
                                <div class="w-75 btn-group" role="group">
                                    <a onClick=getUrunInfo("${data}") class="btn btn-primary mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>Edit</a>
                                    <a onClick=Delete("${data}") class="btn btn-danger mx-2">Delete</a>
                                </div>`
                    }, "width": "25%"
                },
            ],

        });
    });

  

   
</script>