@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">

    <h2>Firmalar</h2>
    <hr />

    <div class="" style="display: flex;justify-content: flex-end;">
        <button class="btn btn-success" onclick="Save()"><i class="bi bi-plus"></i> Yeni Firma</button>

    </div>
    <br />


    <table id="firmaTable" class="display" style="width:100%"> 
        <thead>
            <tr>
                <th>Firma Adi</th>
                <th>Telefon</th>
                <th></th>
            </tr>
        </thead>
    </table>
  


</div>

@* right drawer *@

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Firma Güncelle</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="dismissBUton"></button>
    </div>
    <div class="offcanvas-body">
        <label type="text" id="firmaId" value="" hidden></label>

        <br />
        <label for="firmaIsim" class="form-label">Firma</label>
        <input type="text" id="firmaIsim" class="form-control" value=""> 
       
        <label for="firmaTelUpdate" class="form-label">Telefon</label>
        <input type="text" id="firmaTelUpdate" class="form-control" value="">

        <br />
        <div style="display: flex;justify-content: flex-end;">
            <button onclick=updateFirma() class="btn btn-secondary">Güncelle</button>
        </div>
    </div>
</div>






<script type="text/javascript">
    let table;

    $(document).ready(function loadTable() {
        table = $('#firmaTable').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json',
            },

            "ajax":
            {
                "url": "https://localhost/api/firma/all",
                
            },

            "columns": [
                { "data": 'firmaAdi' },
                { "data": 'firmaTel' },
                {
                    "data": "id",
                    "render": function (data) {
                        return `
                                      <div class="w-75 btn-group" role="group">
                                              <a onClick=getFirmaInfo("${data}") class="btn btn-primary mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>Edit</a>
                                          <a onClick=Delete("${data}") class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
                                      </div>`
                    },
                    "width": "20%"
                },
            ]
        });
    });


    function getFirmaInfo(data) {

        $.ajax({
            url: 'https://localhost/api/Firma',
            crossDomain: true,
            headers: {
                'accept': 'text/plain'
            },
            data: {
                'id': data
            }
        }).done(function (response) {
            if (response != null) {
                // getirilen verilerin gerekli yerlere atanması
                $("#firmaIsim").val(response.data.firmaAdi);
                $("#firmaTelUpdate").val(response.data.firmaTel);
                $("#firmaId").val(response.data.id);

            }
        })
    }

    function updateFirma() {
        let yeniFirmaAdi = $("#firmaIsim").val();
        let yeniFirmaTel = $("#firmaTelUpdate").val();
        let id = $("#firmaId").val();

        $.ajax({
            url: 'https://localhost/api/Firma?firmaId=' + id,
            crossDomain: true,
            method: 'put',
            headers: {
                'accept': 'text/plain'
            },
            contentType: 'application/json',
            // data: '{\n  "id": "6673db08b965b70719edb1fb",\n  "firmaAdi": "string"\n}',
            data: JSON.stringify({
                'id': id,
                'firmaAdi': yeniFirmaAdi,
                'firmaTel': yeniFirmaTel
            })
        }).done(function (response) {

            $("#dismissBUton").click()
            //Reload/redraw the table with new data
            table.ajax.reload();

            Swal.fire({
                title: "Firma Güncellendi",
                icon: "success"
            });


        });
    }

    function Delete(data) {
        Swal.fire({
            title: 'Emin Misiniz?',
            text: "Silindikten Sonra Geri Alamazsınız!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: "Geri",
            confirmButtonText: 'Evet Sil'
        }).then((result) => {
            if (result.isConfirmed) {
                console.log(data);

                $.ajax({
                    url: 'https://localhost/api/Firma?id=' + data,
                    crossDomain: true,
                    method: 'delete',
                    headers: {
                        'accept': 'text/plain'
                    }
                }).done(function (response) {
                    console.log(response);
                    if (response != null || data != null) {

                        table.ajax.reload();

                        Swal.fire({
                            title: "Firma Silindi",
                            icon: "success"
                        });
                    }
                    else {
                        Swal.fire({
                            title: "Firma Silinirken Bir Sorun Oluştu",
                            icon: "error"
                        });
                    }
                });
            }
        })
    }

    function Save() {
        swal.fire({
            title: 'Firma Ekle',
            html:
                '<label for="firmaIsimEkle" class="form-label">Firma Adı</label> <input type="text" id="firmaIsimEkle" class= "form-control" value="">' +
                '<label for="firmaTel" class="form-label">Telefon</label> <input type="text" id="firmaTel" class= "form-control" value="">',

            preConfirm: function () {
                return new Promise(function (resolve) {
                    
                    resolve([
                        $('#firmaIsimEkle').val(),
                        $('#firmaTel').val()
                    ])
                })
            },
            onOpen: function () {
                $('#swal-input1').focus()
            }
        }).then((result) => {
            console.log(result);


            if (result.isConfirmed) {
                $.ajax({
                    url: 'https://localhost/api/Firma',
                    crossDomain: true,
                    method: 'post',
                    headers: {
                        'accept': 'text/plain'
                    },
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'id': '',
                        'firmaAdi': $('#firmaIsimEkle').val(),
                        'firmaTel': $('#firmaTel').val(),
                    })
                }).done(function (response) {
                    if (response != null) {
                        //Reload/redraw the table with new data
                        table.ajax.reload();

                        //table = loadTable(); // Yeni tablo oluştur
                        Swal.fire({
                            title: "Firma Eklendi",
                            icon: "success"
                        });
                    }
                });


            }
        });
    }






</script>