@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <h2>Satışlar Rapor</h2>



    <!--Filtre Start-->

    <div class="p-3 border bg-light">
        <!-- Existing code -->
        <div class="row">
            <div class="col">
                <label for="tarih1">Tarih1:</label>
                <input type="date" id="tarih1" class="form-control">
            </div>
            <div class="col">
                <label for="tarih2">Tarih2:</label>
                <input type="date" id="tarih2" class="form-control">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label for="firma">Firmalar:</label>
                <select id="firma" class="form-control js-example-basic-single">
                    <option></option>

                </select>
            </div>

            <div class="col">
                <label for="sube">Şubeler:</label>
                <select id="sube" class="form-control">
                    <option></option>
                </select>
            </div>

            <div class="col">
                <label for="kategori">Kategori:</label>
                <select id="kategori" class="form-control">
                    <option></option>
                </select>
            </div>

        </div>
        <br />

        <br />
        <div class="" style="display: flex;justify-content: flex-end;">
            <button class="btn btn-primary" onclick="applyFilter()">Filtreyi Uygula</button>
        </div>
    </div>
    <br />
    <!--Filtre End-->
    <!--Tablo Start-->
    <div class="p-3 border bg-light">
        <table id="satislarTable" class="display" style="width:100%">

            <thead>
                <tr>
                    <th>Şube Adi</th>
                    <th>Ürün</th>
                    <th>Satış Miktarı</th>
                    <th>Toplam</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <!--Tablo End-->


    <br />
    <div class="row" style="--bs-gutter-x: 0rem;">
        <div class="col-md-6">
            <div>
                <div class="p-3 border bg-light">

                    <canvas id="kategoriToplamSatisPie" width="618" height="309"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div>
                <div class="p-3 border bg-light">

                    <canvas id="urunToplamSatisPie" width="618" height="309"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="--bs-gutter-x: 0rem;">
        <div class="col-md-6">
            <div>
                <div class="p-3 border bg-light">

                    <canvas id="firmaToplamSatisBar"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="p-3 border bg-light">

                    <canvas id="subeToplamSatisBar"></canvas>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />


</div>


<script type="text/javascript">
    let table; let tarih1 = null; let tarih2 = null; let firma = null; var kategori = null; var sube = null;
    var kategoriSatis_pieChart; var urunToplamSatis_pieChart; var subeToplamSatis_barChart; var firmaToplamSatis_barChart;

    function loadTable() {

        $.ajax({
            url: 'https://localhost:44369/api/Satis/GetAllWithDetailsByFilters',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                //'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },
            data: {
                'ilkTarih': tarih1,
                'ikinciTarih': tarih2,
                'subeId': sube,
                'kategoriId': kategori,
                'firmaId': firma
            }
        }).done(function (response) {

            chartVerileriniHesapla(response);

            table = $('#satislarTable').DataTable({
                "language": { "url": '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json' },
                "data": response.data,
                "layout": {
                    "bottomStart": {
                        buttons: [
                            {
                                extend: 'pdf',
                                text: 'Pdf',
                                exportOptions: {
                                    modifier: {
                                        page: 'current'
                                    }
                                },
                                title: 'FirmaSatışlar',
                                className: 'btn btn-success',
                            },
                            {
                                extend: 'colvis',
                                collectionLayout: 'fixed columns',
                                popoverTitle: 'Görüntülenecek sütunları işaretleyin',
                                                                    className: 'btn btn-warning',

                            }
                        ],
                    }
                },
                "columns": [
                    { "data": 'sube.subeAdi' },
                    { "data": 'urun.urunAdi' },
                    { "data": 'satisMiktari', className: 'text-start' },
                    { "data": 'toplam', className: 'text-start' },
                    {
                        "data": 'satisTarihi',
                        "render": function (data) {
                            // JavaScript Date objesine dönüştürme
                            var tarih = new Date(data);

                            // Tarih bilgilerini alıyoruz
                            var yil = tarih.getFullYear();
                            var ay = ('0' + (tarih.getMonth() + 1)).slice(-2); // Ayı 2 basamaklı olarak almak için
                            var gun = ('0' + tarih.getDate()).slice(-2); // Günü 2 basamaklı olarak almak için
                            var saat = ('0' + tarih.getHours()).slice(-2); // Saati 2 basamaklı olarak almak için
                            var dakika = ('0' + tarih.getMinutes()).slice(-2); // Dakikayı 2 basamaklı olarak almak için

                            // Yıl/ay/gün - saat formatında birleştirme
                            var formatliTarih = yil + '/' + ay + '/' + gun + ' - ' + saat + ':' + dakika;

                            //console.log(formatliTarih); // Örneğin: "2024/06/25 - 06:05:00"
                            return formatliTarih;
                        }
                    },
                ]
            });
        });
    };

    function chartVerileriniHesapla(response) {
        var satisDto = response.data;
        //ürünler
        const urunToplamSatis = {};
        var satis = satisDto.reduce(function (accumulator, item) {
            var existingItem = accumulator.find(function (x) {
                return x.urunAdi === item.urun.urunAdi;
            });
            if (existingItem) {
                existingItem.toplam += item.toplam;
            } else {
                accumulator.push({
                    urunAdi: item.urun.urunAdi,
                    toplam: item.toplam
                });
            }
            return accumulator;
        }, []).forEach(item => {
            urunToplamSatis[item.urunAdi] = item.toplam;
        });

        //subeler
        const subelerToplamSatis = {};
        var subeler = satisDto.reduce(function (accumulator, item) {
            var existingItem = accumulator.find(function (x) {
                return x.subeAdi === item.sube.subeAdi;
            });
            if (existingItem) {
                existingItem.toplam += item.toplam;
            } else {
                accumulator.push({
                    subeAdi: item.sube.subeAdi,
                    toplam: item.toplam
                });
            }
            return accumulator;
        }, []).forEach(item => {
            subelerToplamSatis[item.subeAdi] = item.toplam;
        });

        //kategoriler
        const kategoriToplamSatis = {};
        var kategoriler = satisDto.reduce(function (accumulator, item) {
            var existingItem = accumulator.find(function (x) {
                return x.kategoriId === item.urun.kategoriId;
            });
            if (existingItem) {
                existingItem.toplam += item.toplam;
            } else {
                accumulator.push({
                    kategoriId: item.urun.kategoriId,
                    toplam: item.toplam
                });
            }
            return accumulator;
        }, []).forEach(item => {
            kategoriToplamSatis[item.kategoriId] = item.toplam
        });

        //firmalar
        const firmalarToplamSatis = {};
        var kategoriler = satisDto.reduce(function (accumulator, item) {
            var existingItem = accumulator.find(function (x) {
                return x.firmaId === item.sube.firmaId;
            });
            if (existingItem) {
                existingItem.toplam += item.toplam;
            } else {
                accumulator.push({
                    firmaId: item.sube.firmaId,
                    toplam: item.toplam
                });
            }
            return accumulator;
        }, []).forEach(item => {
            firmalarToplamSatis[item.firmaId] = item.toplam
        });
        initCharts(kategoriToplamSatis, urunToplamSatis, subelerToplamSatis, firmalarToplamSatis);

    }

            loadTable();


    //filtrelerin uygulanması
    function applyFilter() {
        // Get the selected filter values
        tarih1 = $('#tarih1').val() ?? "";
        tarih2 = $('#tarih2').val() ?? "";

        firma = $('#firma').val() ?? "";
        kategori = $('#kategori').val() ?? "";
        sube = $('#sube').val() ?? "";


        table.destroy();
        loadTable();


        kategoriSatis_pieChart.destroy()
        urunToplamSatis_pieChart.destroy()
        subeToplamSatis_barChart.destroy()
        firmaToplamSatis_barChart.destroy()


    }

    //selectbarlara gerekli değerlerin atanması
    function loadSelectsDatas() {

        //firmalar load
        $.ajax({
            url: 'https://localhost:44369/api/Filter/GetFirmaSubeKategoriAll',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                //'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },

        }).done(function (response) {
            var firmalar = $.map(response.data.firmalar, function (data) {
                return {
                    id: data.id,
                    text: data.firmaAdi
                };
            });
            var select = $("#firma").select2({
                placeholder: "Firmalar",
                data: firmalar,
                width: 350,
                allowClear: true
            });

            var subeler = $.map(response.data.subeler, function (data) {
                return {
                    id: data.id,
                    text: data.subeAdi
                };
            });
            var select = $("#sube").select2({
                placeholder: "Subeler",
                data: subeler,
                width: 350,
                allowClear: true

            });

            var kategoriler = $.map(response.data.kategoriler, function (data) {
                return {
                    id: data.id,
                    text: data.kategoriAdi
                };
            });
            var select = $("#kategori").select2({
                placeholder: "Kategoriler",
                data: kategoriler,
                width: 350,
                allowClear: true

            });


        });


    }

    function initCharts(kategoriToplamSatis, urunToplamSatis, subelerToplamSatis, firmalarToplamSatis) {
        var ctxKategoriToplamSatisPie = document.getElementById('kategoriToplamSatisPie');
        ctxKategoriToplamSatisPie.width = 618;
        ctxKategoriToplamSatisPie.height = 309;

        var ctxUrunToplamSatisPie = document.getElementById('urunToplamSatisPie');
        ctxUrunToplamSatisPie.width = 618;
        ctxUrunToplamSatisPie.height = 309;

        var ctxSubeToplamSatisBar = document.getElementById('subeToplamSatisBar');
         ctxSubeToplamSatisBar.width = 618;
        ctxSubeToplamSatisBar.height = 309;




        var ctxFirmaToplamSatisBar = document.getElementById('firmaToplamSatisBar');
        ctxFirmaToplamSatisBar.width = 618;
        ctxFirmaToplamSatisBar.height = 309;





        urunToplamSatis_pieChart = new Chart(ctxUrunToplamSatisPie, {

            type: 'doughnut',
            data: {
                labels: Object.keys(urunToplamSatis),
                datasets: [{
                    label: 'Toplam Satış',
                    data: Object.values(urunToplamSatis),
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,

                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Ürünlere Göre Satış',
                        position:'bottom'
                    }

                }
            }
        });

        subeToplamSatis_barChart = new Chart(ctxSubeToplamSatisBar, {
            type: 'doughnut',
            data: {
                labels: Object.keys(subelerToplamSatis),
                datasets: [{
                    label: 'Toplam Satış',
                    data: Object.values(subelerToplamSatis),
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,

                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Subelere Göre Satış',
                        position: 'bottom'
                    }

                }
            }
        });



        //KATEGORİLER
        $.ajax({
            url: 'https://localhost:44369/api/kategori/all',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                //'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            }
        }).done(function (response) {
            console.log(response.data);
            Object.keys(kategoriToplamSatis).forEach(function (key) {
                var firma = response.data.find(x => x.id == key);

                kategoriToplamSatis[firma.kategoriAdi] = kategoriToplamSatis[key];
                delete kategoriToplamSatis[key]
            });


            kategoriSatis_pieChart = new Chart(ctxKategoriToplamSatisPie, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(kategoriToplamSatis),
                    datasets: [{
                        label: 'Toplam Satış',
                        data: Object.values(kategoriToplamSatis),
                        borderWidth: 2
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,

                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Kategorilere Göre Satış',
                            position: 'bottom'
                        }

                    }
                }
            });

        });




        //firmlar
        $.ajax({
            url: 'https://localhost:44369/api/Firma/all',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                //'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            }
        }).done(function (response) {
            console.log(response.data);
            Object.keys(firmalarToplamSatis).forEach(function (key) {
                var firma = response.data.find(x => x.id == key);
                firmalarToplamSatis[firma.firmaAdi] = firmalarToplamSatis[key];
                delete firmalarToplamSatis[key]
            });



            firmaToplamSatis_barChart = new Chart(ctxFirmaToplamSatisBar, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(firmalarToplamSatis),
                    datasets: [{
                        label: 'Toplam Satış',
                        data: Object.values(firmalarToplamSatis),
                        borderWidth: 2
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,

                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Firmalara Göre Satış',
                            position: 'bottom'
                        }

                    }
                }
            });

        });





    }

    loadSelectsDatas();

</script>
