@{
    ViewData["Title"] = "Index";
}

<h2>Satislar</h2>
<hr />

<div class="" style="display: flex;justify-content: flex-end;">
    <button class="btn btn-success" onclick="Save()"><i class="bi bi-plus"></i> Yeni Satis</button>

</div>
<br />



<table id="myTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Şube Adi</th>
            <th>Ürün Adi</th>
            <th>Satış Miktarı</th>
            <th>Satış Tarihi</th>
            <th>Toplam</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Şube Adi</th>
            <th>Ürün Adi</th>
            <th>Satış Miktarı</th>
            <th>Satış Tarihi</th>
            <th>Toplam</th>
            <th></th>
        </tr>
    </tfoot>
</table>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<script type="text/javascript">
    $(document).ready(function () {
        new DataTable('#myTable', {
            "language": {
                url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json',
            },
            "ajax": '/fakeData/satis.json',

            "columns": [
                { "data": 'subeAdi' },
                { "data": 'urunAdi' },
                { "data": 'satisMiktari' },
                { "data": 'satisTarihi' },
                { "data": 'toplamFiyati' },
                {
                    "data": "id", "render": function (data) {
                        return `
                                <div class="w-75 btn-group" role="group">
                                    <a onClick=Save('/Admin/Product/Upsert?id=${data}')
                                        class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                                    <a onClick=Delete('/Admin/Product/Delete/${data}')
                                        class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
                                </div>`
                    }, "width": "25%"
                },
            ],

        });
    });

    function Delete(url) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function (data) {
                        if (data.success) {
                            Swal.fire({
                                title: "Satis Silindi",
                                icon: "success"
                            });
                        }
                        else {
                            Swal.fire({
                                title: "Satis Silinirken Bir Sorun Oluştu",
                                icon: "error"
                            });
                        }
                    }
                })
            }
        })
    }

   
</script>