
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">

    <div class="row" style="--bs-gutter-x: 0rem;">
        <div class="col-md-6">
            <div>
                <div class="p-3 border bg-light">

                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="p-3 border bg-light">

                    <canvas id="pieChart" width="618" height="309"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row" style="--bs-gutter-x: 0rem;">
        <div class="col-md-12">
            <div class="p-3 border bg-light">
                <table id="raporTable" class="display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Urun</th>
                            <th>Fiyat</th>
                            <th>Tedarikci</th>
                            <th>Tedarikci Telefon</th>
                            <th>Kategori</th> 
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript">
    var ctxBar = document.getElementById('barChart');
    var ctxPie = document.getElementById('pieChart');
    ctxPie.width = 618;
    ctxPie.height = 309;
    let table;

    $.ajax({
        url: 'https://localhost/api/UrunSatisRapor',
        crossDomain: true,
        headers: {
            'accept': 'text/plain',
            'Authorization': "Bearer " + "@ViewBag.JwtCookie"
        },
        data: {
            'tedarikciId': "@ViewBag.FirmaId"
        }
    }).done(function (response) {
     
         table = $('#raporTable').DataTable({
            "data": response.data.urunler,

            "language": {
                "url": '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json',
            },
            "layout": {
                "topStart": {
                    "buttons": [

                        {
                            "extend": 'excelHtml5',
                            "exportOptions": {
                                "columns": [0, 1, 2, 3, 4],
                                "title": "bura başlık"

                            }
                        },
                        {
                            "extend": 'pdfHtml5',
                            "exportOptions": {
                                "columns": [0, 1, 2, 3, 4],
                                "title": "Bura Başlık",
                                "text": "asdasdasd"
                            }
                        },
                        'colvis'
                    ]
                }

            },

            "columns": [
                { "data": 'urunAdi' },
                { "data": 'fiyat' },
                { "data": 'tedarikci.tedarikciAdi' },
                { "data": 'tedarikci.tedarikciTel' },
                { "data": 'kategori.kategoriAdi' },


            ]
        });

        barChart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: Object.keys(response.data.toplamAySatislar),
                datasets: [{
                    label: 'Toplam Satış',
                    data: Object.values(response.data.toplamAySatislar),
                    borderWidth: 2,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        pieChart = new Chart(ctxPie, {
            type: 'doughnut',
            data: {
                labels: Object.keys(response.data.toplamUrunSatis),
                datasets: [{
                    label: 'Toplam Satış',
                    data: Object.values(response.data.toplamUrunSatis),                
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,

                plugins: {
                    legend: {
                        position: 'top',
                    },
                    
                }
            }
        });


    });




</script>