@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">

    <h2>Urunler</h2>

    
    <br />

    <div class="p-3 border bg-light">

        <table id="urunTable" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Ürün</th>
                    <th>Tedarikçi</th>

                    <th>Kategori</th>
                    <th>Fiyat</th>
                </tr>
            </thead>
        </table>



    </div>
</div>



<script type="text/javascript">
    let table;
    $.ajax({
        url: 'https://10.60.60.141/api/Urun/GetUrunlerWithDetailsByTedarikciId',
        crossDomain: true,
        headers: {
            'accept': 'text/plain',
            'Authorization': "Bearer " + "@ViewBag.JwtCookie"
        },
        data: {
            'tedarikciId': '@ViewBag.FirmaId'
        }
    }).done(function (response) {
        table = $('#urunTable').DataTable({
            "data":response.data,
           

            "language": {
                url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json',
            },
            "layout": {
                "bottomStart": {
                    buttons: [
                        {

                            extend: 'pdf',
                            text: 'Pdf',
                            exportOptions: {
                                modifier: {
                                    page: 'current'
                                }
                            },
                            title: 'FirmaUrunler',
                            className: 'btn btn-success',
                        }
                    ],
                }

            },

            "columns": [
                { "data": 'urunAdi' },
                { "data": 'tedarikci.tedarikciAdi' },
                { "data": 'kategori.kategoriAdi' },
                { "data": 'fiyat', className: 'text-start' },
            ]
        });
    });




</script>
