@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">


    <br />

    <div class="p-3 border bg-light">
        <h2>Tedarikciler</h2>
        <hr />

        <div class="" style="display: flex;justify-content: flex-end;">
            <button class="btn btn-success" onclick="Save()"><i class="bi bi-plus"></i> Yeni Tedarikci</button>

        </div>
        <table id="tedarikciTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Tedarikci Adi</th>
                    <th>Telefon</th>
                    <th></th>
                </tr>
            </thead>
        </table>



    </div>
</div>

@* right drawer *@

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Tedarikci Güncelle</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="dismissBUton"></button>
    </div>
    <div class="offcanvas-body">
        <label type="text" id="tedarikciId" value="" hidden></label>

        <br />
        <label for="tedarikciIsim" class="form-label">Tedarikci</label>
        <input type="text" id="tedarikciIsim" class="form-control" value="">

        <label for="tedarikciTelUpdate" class="form-label">Telefon</label>
        <input type="text" id="tedarikciTelUpdate" class="form-control" value="">

        <br />
        <div style="display: flex;justify-content: flex-end;">
            <button onclick=updateTedarikci() class="btn btn-secondary">Güncelle</button>
        </div>
    </div>
</div>






<link rel="stylesheet" href="" />
<script type="text/javascript">
    let table;

    $(document).ready(function loadTable() {
        table = $('#tedarikciTable').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json',
            },

            "ajax":
            {
                "url": "https://localhost:44369/api/Tedarikci/all",
                'type': 'GET',
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + "@ViewBag.JwtCookie");
                }
            },
            "layout": {
                "bottomStart": {
                    buttons: [
                        {

                            extend: 'pdf',
                            text: 'Pdf',
                            exportOptions: {
                                modifier: {
                                    page: 'current'
                                }
                            },
                            title: 'Tedarikçiler',
                            className: 'btn btn-success',
                        }
                    ],
                }
            },

            "columns": [
                { "data": 'tedarikciAdi' },
                { "data": 'tedarikciTel', className: 'text-start' },
                {
                    "data": "id",
                    "render": function (data) {
                        return `
                                          <div class="w-75 btn-group" role="group">
                                              <a onClick=getTedarikciInfo("${data}") class="btn btn-primary mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>Edit</a>
                                              <a onClick=Delete("${data}") class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
                                          </div>`
                    },
                    "width": "20%"
                },
            ]
        });
    });


    function getTedarikciInfo(data) {

        $.ajax({
            url: 'https://localhost:44369/api/Tedarikci',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                //'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },
            data: {
                'id': data
            }
        }).done(function (response) {
            if (response != null) {
                // getirilen verilerin gerekli yerlere atanması
                $("#tedarikciIsim").val(response.data.tedarikciAdi);
                $("#tedarikciTelUpdate").val(response.data.tedarikciTel);
                $("#tedarikciId").val(response.data.id);

            }
        })
    }

    function updateTedarikci() {
        let yeniTedarikciAdi = $("#tedarikciIsim").val();
        let yeniTedarikciTel = $("#tedarikciTelUpdate").val();
        let id = $("#tedarikciId").val();

        $.ajax({
            url: 'https://localhost:44369/api/Tedarikci?tedarikciId=' + id,
            crossDomain: true,
            method: 'put',
            headers: {
                'accept': 'text/plain'
            },
            contentType: 'application/json',
            // data: '{\n  "id": "6673db08b965b70719edb1fb",\n  "tedarikciAdi": "string"\n}',
            data: JSON.stringify({
                'id': id,
                'tedarikciAdi': yeniTedarikciAdi,
                'tedarikciTel': yeniTedarikciTel
            })
        }).done(function (response) {

            $("#dismissBUton").click()
            //Reload/redraw the table with new data
            table.ajax.reload();

            Swal.fire({
                title: "Tedarikci Güncellendi",
                icon: "success"
            });


        });
    }

    function Delete(data) {
        Swal.fire({
            title: 'Emin Misiniz?',
            text: "Silindikten Sonra Geri Alamazsınız!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: "Geri",
            confirmButtonText: 'Evet Sil'
        }).then((result) => {
            if (result.isConfirmed) {
                console.log(data);

                $.ajax({
                    url: 'https://localhost:44369/api/Tedarikci?id=' + data,
                    crossDomain: true,
                    method: 'delete',
                    headers: {
                        'accept': 'text/plain'
                    }
                }).done(function (response) {
                    console.log(response);
                    if (response != null || data != null) {

                        table.ajax.reload();

                        Swal.fire({
                            title: "Tedarikci Silindi",
                            icon: "success"
                        });
                    }
                    else {
                        Swal.fire({
                            title: "Tedarikci Silinirken Bir Sorun Oluştu",
                            icon: "error"
                        });
                    }
                });
            }
        })
    }

    function Save() {
        swal.fire({
            title: 'Ekle',
            html:
                '<label for="tedarikciIsimEkle" class="form-label">Tedarikci Adı</label> <input type="text" id="tedarikciIsimEkle" class= "form-control" value="">' +
                '<label for="tedarikciTel" class="form-label">Telefon</label> <input type="text" id="tedarikciTel" class= "form-control" value="">',

            preConfirm: function () {
                return new Promise(function (resolve) {

                    resolve([
                        $('#tedarikciIsimEkle').val(),
                        $('#tedarikciTel').val()
                    ])
                })
            },

        }).then((result) => {
            console.log(result);


            if (result.isConfirmed) {
                $.ajax({
                    url: 'https://localhost:44369/api/Tedarikci',
                    crossDomain: true,
                    method: 'post',
                    headers: {
                        'accept': 'text/plain'
                    },
                    contentType: 'application/json',
                    // data: '{\n  "id": "",\n  "tedarikciAdi": "Tedarikci-1",\n  "tedarikciTel": "5312854868"\n}',
                    data: JSON.stringify({
                        //'id': '',
                        'tedarikciAdi': $('#tedarikciIsimEkle').val(),
                        'tedarikciTel': $('#tedarikciTel').val(),
                    })
                }).done(function (response) {
                    if (response != null) {
                        //Reload/redraw the table with new data
                        table.ajax.reload();
                        debugger;
                        //table = loadTable(); // Yeni tablo oluştur
                        Swal.fire({
                            title: "Tedarikci Eklendi",
                            icon: "success"
                        });
                    }
                });



                // $.ajax({
                //     url: 'https://localhost:44369/api/Tedarikci',
                //     crossDomain: true,
                //     method: 'post',
                //     headers: {
                //         'accept': 'text/plain'
                //     },
                //     contentType: 'application/json',
                //     // data: '{"tedarikciAdi": "Tedarikci-12"\n}',
                //     data: JSON.stringify({
                //         'tedarikciAdi': result.value,
                //         //'id': ''
                //     })

                // }).done(function (response) {
                // if (response != null) {
                //     //Reload/redraw the table with new data
                //     table.ajax.reload();

                //     table = loadTable(); // Yeni tablo oluştur
                //     Swal.fire({
                //         title: "Tedarikci Eklendi",
                //         icon: "success"
                //     });
                // }
                // });






            }
        });
    }






</script>